.roomListContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.roomListInner {
  max-width: 400px;
  min-width: 200px;
  margin: 0 auto;
  background-color: #fce1c2;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 18px;
  border: 1px solid transparent;
  transition: all 0.3s ease;

  &:hover {
    border: 1px solid #ffad56;
    background-color: #ffedda;
  }
  &.open {
    background-color: #ffedda;
  }
}

.roomListInner h2 {
  color: #666;
  font-size: 1.2rem;
}

.roomListHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.arrowIcon {
  transition: transform 0.3s ease;
  &.open {
    transform: rotate(180deg); // Rotate when open
  }
}

.arrowIcon {
  transition: transform 0.3s ease;
  &.open {
    transform: rotate(180deg); // Rotate when open
  }
}

.roomList {
  transition: all 0.5s ease;
  display: flex;
  max-height: 300px;
  overflow: auto;
  flex-direction: column;
  gap: 8px;
  list-style-type: none;
  padding: 0;
  margin: 0;

  &.show {
    max-height: 36vh;
    margin-top: 14px;
  }
  &.hide {
    max-height: 0;
  }
}

.roomItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px 14px;
  background-color: #8c6c4b;
  border-radius: 6px;
  margin: 2px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  border: 1px solid transparent;

  span {
    color: white;
    font-size: 16px;
    font-weight: 500;
  }
  &:hover {
    border-color: #c5571c;
    cursor: pointer;
  }
}

.btnDelete svg {
  color: #bf4949;
}
